@model ShopEsameElis.Models.Cart

@{
    ViewData["Title"] = "Create";
    
}
@*@section Scripts{
    <script>
        $(function () {
            $("#quantity").click(function () {

            });
        });

    </script>
}*@

<h1>Create</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUtente" class="control-label">User</label>
                <select asp-for="IdUtente" class ="form-control" asp-items="ViewBag.IdUtente"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label">Product</label>
                <select asp-for="IdProduct" class ="form-control" asp-items="ViewBag.IdProduct"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label">Select Quantity :</label>
                <input type="number" id="quantity" name="Quantity" onchange="function" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
